---
clusterName: talos-test01
endpoint: https://192.168.11.99:6443
domain: talos-test01.kube.cluster.homelab.internal
allowSchedulingOnMasters: true
clusterPodNets:
  - 10.244.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
#additionalApiServerCertSans:
#  - 192.168.10.1
#  - 192.168.10.2
#  - 192.168.10.3

nodes:
  - hostname: controller01
    ipAddress: 192.168.11.1
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/amdgpu
            - siderolabs/zfs
            - siderolabs/drbd
    kernelModules:
      - name: drbd
        parameters:
          - usermode_helper=disabled
      - name: drbd_transport_tcp
      - name: zfs
    controlPlane: true
    installDisk: /dev/sda
    nodeLabels:
      rack: network01
      zone: herkendorf
      hardware: fujitso_futro_s920
    nodeAnnotations:
      rack: network01
    networkInterfaces:
    - deviceSelector:
        busPath: 0* # should select any hardware network device, if you have just one, it will be selected
      dhcp: false
      vlans:
        - vlanId: 10
          addresses:
            - 192.168.11.1/23
          routes:
            - network: 0.0.0.0/0 # The route's network (destination).
              gateway: 192.168.10.254 # The route's gateway (if empty, creates link scope route).
          dhcp: false
          vip:
            ip: 192.168.11.99
  - hostname: controller02
    ipAddress: 192.168.11.2
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/amdgpu
            - siderolabs/zfs
            - siderolabs/drbd
    kernelModules:
      - name: drbd
        parameters:
          - usermode_helper=disabled
      - name: drbd_transport_tcp
      - name: zfs
    controlPlane: true
    installDisk: /dev/sda
    nodeLabels:
      rack: network01
      zone: herkendorf
      hardware: fujitso_futro_s920
    nodeAnnotations:
      rack: network01
    networkInterfaces:
    - deviceSelector:
        busPath: 0* # should select any hardware network device, if you have just one, it will be selected
      dhcp: false
      vlans:
        - vlanId: 10
          addresses:
            - 192.168.11.2/23
          routes:
            - network: 0.0.0.0/0 # The route's network (destination).
              gateway: 192.168.10.254 # The route's gateway (if empty, creates link scope route).
          dhcp: false
          vip:
            ip: 192.168.11.99
  - hostname: controller03
    ipAddress: 192.168.11.3
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/amdgpu
            - siderolabs/zfs
            - siderolabs/drbd
    kernelModules:
      - name: drbd
        parameters:
          - usermode_helper=disabled
      - name: drbd_transport_tcp
      - name: zfs
    controlPlane: true
    installDisk: /dev/sda
    nodeLabels:
      rack: network01
      zone: herkendorf
      hardware: fujitso_futro_s920
    nodeAnnotations:
      rack: network01
    networkInterfaces:
    - deviceSelector:
        busPath: 0* # should select any hardware network device, if you have just one, it will be selected
      dhcp: false
      vlans:
        - vlanId: 10
          addresses:
            - 192.168.11.3/23
          routes:
            - network: 0.0.0.0/0 # The route's network (destination).
              gateway: 192.168.10.254 # The route's gateway (if empty, creates link scope route).
          dhcp: false
          vip:
            ip: 192.168.11.99
  - hostname: worker01
    ipAddress: 192.168.11.100
    schematic:
      customization:
        extraKernelArgs:
          - net.ifnames=0
    controlPlane: false
    installDisk: /dev/sda
    nodeLabels:
      rack: network01
      zone: herkendorf
      hardware: fujitso_esprimo_q920
    nodeAnnotations:
      rack: network01
    networkInterfaces:
    - deviceSelector:
        busPath: 0* # should select any hardware network device, if you have just one, it will be selected
      addresses:
        - 192.168.11.100/23
      routes:
        - network: 0.0.0.0/0 # The route's network (destination).
          gateway: 192.168.10.254 # The route's gateway (if empty, creates link scope route).
      dhcp: false



controlPlane:
  nameservers:
    - 192.168.10.254
    - 1.1.1.1
    - 8.8.8.8
    - 8.8.4.4
  machine:
    kubelet:
      extraArgs:
        rotate-server-certificates: true
  userVolumes:
    - name: seaweedfs-data
      provisioning:
        diskSelector:
          match: disk.transport == 'nvme' && !system_disk
        minSize: 200GB
        grow: true
      filesystem:
        type: xfs

#  networkInterfaces:
#    - interface: eth0
#      dhcp: false
#      vlans:
#        - vlanId: 10
#          routes:
#            - network: 0.0.0.0/0 # The route's network (destination).
#              gateway: 192.168.10.254 # The route's gateway (if empty, creates link scope route).
#          dhcp: false
#          vip:
#            ip: 192.168.10.99

worker:
  nameservers:
    - 192.168.10.254
    - 1.1.1.1
    - 8.8.8.8
    - 8.8.4.4
  machine:
    kubelet:
      extraArgs:
        rotate-server-certificates: true
#  ingressFirewall:
#    defaultAction: block
#    rules:
#      - name: apid-ingress
#        portSelector:
#          ports:
#            - 50000
#          protocol: tcp
#        ingress:
#          - subnet: 10.96.0.0/12
